/*--------------------So that the website fills the whole page-------------*/
*
{
	margin:0;
	padding: 0;
}

/*------------------------Just for colour, I guess-------------------------*/
:root {
	--primary:#ddd;
	--light:#fff;
	--dark:#333;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/*-------------------------------Website Title-----------------------------*/
/*--------------------------Part of Navigation bar-------------------------*/

.title{
	color: white;
	height 40px;
	padding-left: 30px;
	text-decoration: none!important; /*use !important when overriding other classes*/
	text-align:center;
	font-size: 4rem!important;
	/*font: 'Berkshire Swash', comic sans ms, courier!important;*/
	font-family: 'Seaweed Script', cursive!important;
	letter-spacing: .5rem;
}

.title-plus{
	font-size: 2rem!important;
}

.title:hover{
	background: none;
	color: none!important;
} 

body{

	font-family:courier new;
	color: #66004d;
	margin: 0;
}

/*-----------------------------Navigation at top------------------------------*/
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
	/*box-shadow: var(--shadow);*/
	background-size: auto;
}

#home-header{
	background-image: /**-moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0,5)),**/ url(img/cup2.jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding:35px;

}

header{
	background-image:url(img/cup2.jpeg);
	/*height: 100vh;
	background-size: cover;
	background-position: center;
	padding:35px;*/
}

nav{
	font-family:courier new;
}

h1{
	margin:0;
	color:black;
	display:block;
	font-family:'Merriweather', serif;
	font-size: 50px;
	text-align: center;
}

#nav-bar ul{
	margin:0;
	padding:0px 0px 0px 35px;
	display:inline;
	float: right;
}

#nav-bar ul li{
	color: white;
	display:inline-block;
	padding:0 10px;
}

#nav-bar ul li a {
	color: white;
	padding: 0.8rem;
	font-size: 1.1rem;
	text-decoration: none;
	text-transform: uppercase;
	/*box-shadow: var(--shadow);*/
}

.nav-link:hover{
	/*background: var(--dark);
	color: var(--light);*/
	color: #ffcccc;
	text-decoration: underline!important;
}


.navbar-nav li a{
	float: left;
	text-align: right;
}

.navbar{
	background:var(--shadow);

}

.navbar-toggler{
	border: none!important;
}
/**.home{
	display: grid;
	grid-gap: 20px;
}

.home img{
	width: 100%;
	box-shadow: var(--shadow);
}**/

/*----------------------------ABOUT PAGE CONTENTS---------------------------*/
.intro{
	color: black;
	font-size: 25px;
	margin:auto;
	width: 90%;
	padding: 5px;
	text-align: center;
	border: 1px solid white;
}

.about-image{
	margin: auto;
	max-width: 100%;
}

/*-----------------------------------BLOG PAGE---------------------------------*/
#slider{
	width:100%;
}

.carousel-caption{

}