/*--------------------So that the website fills the whole page-------------*/
*
{
	margin:0;
	padding: 0;
}

/*------------------------Just for colour, I guess-------------------------*/
:root {
	--primary:#ddd;
	--light:#fff;
	--dark:#333;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/*-------------------------------Website Title-----------------------------*/
/*--------------------------Part of Navigation bar-------------------------*/

body{

	font-family: 'Montserrat', sans-serif;
	color: #66004d;
	margin: 0;
}

.header-1{
    padding: 3% 10%;
}


/*-----------------------------Navigation at top------------------------------*/
/* #nav-bar{
	position: fixed!important;
	top: 0;
	z-index: 10;
	background-size: cover;
}

#home-header{
	background-image: url(img/cup2.jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding:35px;
} */

/* header{
	background-image: url(img/cup2.jpeg);
	background-size: cover;
	background-position: center;
} */

#home-page{
	background: #E8EC67;
	padding-bottom: .6rem;
}

h1{
	color:black;
	display:block;
	font-family:'Poppins', sans-serif;
	font-size: 50px;
	text-align: center;
}

h2{
	font-family:'Poppins', sans-serif;
}
/* 


#nav-bar ul li a {
	color: white;
	padding: 0.8rem;
	font-size: 1.1rem;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: var(--shadow);
}

.nav-link:hover{
	background: var(--dark);
	color: var(--light);
	color: #ffcccc;
	border: 1.5px solid white;
}

.navbar-nav li a{
	float: left;
	text-align: right;
	color: #001!important;
}
 */

nav{
    margin-bottom: 4.5rem;
}

/* .navbar{
    padding-bottom: 4.5rem;
} */

.navbar-toggler{
	border: none!important;
}

.navbar-brand{
	font-family: 'Mrs Saint Delafield', cursive!important;
	letter-spacing: .1rem!important;
    font-size: 3rem;
    font-weight: 450;
}

.logo-1{
	display: inline-block;
	position: relative;
	top: -1rem;
}

.logo-2{
	display: inline-block;
	position: relative;
	top: 1.4rem;
	left: -6rem;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
	font-size: 1.2rem;
	color: maroon;
}

/* 
.title{
	color: white;
	height: 40px;
	padding-left: 30px;
	text-decoration: none!important; 
	text-align: center;
	font-size: 4rem!important;
	font-family: 'Mrs Saint Delafield', cursive!important;
	font-weight: 600!important;
	letter-spacing: .8rem;
}


.title:hover{
	background: none;
	color: #001!important;
}  */

/**.home{
	display: grid;
	grid-gap: 20px;
}

.home img{
	width: 100%;
	box-shadow: var(--shadow);
}**/

.home__page--more{
	padding: 0rem;
}

.hero-div{
	margin-top: 2rem;
}

.hero-title{
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.1;
	color: #66004D;
	/* color: #757761; */
}

.hero-img{
	width: 50%;
	display: flex;
	object-fit: contain;
}

.hero-text{
	text-align: left;
}

.hero-text h1{
	text-align: left;
}

.hero-message{
	line-height: 1.6;
	margin: 3rem 0;
}

.browse-menu-btn{
	margin-top: 2rem;
	font-size: 1.4rem;
	/* border: #bbebed; */
}

.feature-box{
	background: #fff;
	/* height: 40rem; */
	padding: 7rem 2rem 8rem;
	
}

.feature__title--box{
	text-align: center;
}

.feature__title{
	margin-bottom: 3rem;
	font-size: 2.8rem;
	font-weight: 600;
}

.feature__title--definition{
	margin-bottom: 5rem;
}

.subscription-box{
	/* background-color: #a7bfe8; */
	width: 90%;
	margin:2rem auto;
	padding: 4rem;
	text-align: center;
}

.subscription__box--content{
	margin: 0 auto;
}

.subscription-title{
	margin-bottom: 2rem;
	font-size: 3rem;
	font-weight: 600;
}

.subscribe-btn{
	margin-top: 1.5rem;
}

footer{
	background: #E8EC67;
	padding-bottom: 1rem;
}

/*----------------------------ABOUT PAGE CONTENTS---------------------------*/
.about__content{
	
}

.about__page--title{
	padding: 1.5rem;
	font-size: 5rem;
}

.intro{
	color: black;
	font-size: 25px;
	margin:auto;
	width: 90%;
	padding: 5px;
	text-align: center;
	border: 1px solid white;
}

.about-image{
	margin: auto;
	max-width: 100%;
}

/*-----------------------------------BLOG PAGE---------------------------------*/
.blog-page__content{
	
}

.blog__page--title{
	padding: 1.5rem;
	font-size: 5rem;
}

#slider{
	width:100%;
}

/* .col {
	margin-right: .5rem;
} */

.blog__grid{
	margin: 0 auto;
	text-align: center;
	width: 95%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 20rem);
	grid-gap: 2rem;

}

.grid__content--1{
	background-color: yellowgreen;
	height: 20rem;

}

.grid__content--2{
	background-color: cornflowerblue;
	height: 20rem;
}

.grid__content--3{
	background-color: lavender;
	height: 20rem;
}

.grid__content--4{
	background-color: violet;
	height: 20rem;
}

.grid__content--5{
	background-color: gold;
	height: 20rem;
}

/*-----------------------------------CONTACT PAGE---------------------------------*/
.contact-page__content{
	
}

.contact__page--title{
	padding: 1.5rem;
	font-size: 5rem;
}

.contact--form{
	margin: 0 auto;
}

.form-input{
	color:white;
	font-weight:500;
	font-size: 1.2rem;
	border-radius: 5px;
	line-height: 1.4;
	background-color: transparent;
	border:2px solid #CC6666;
	transition: all 0.3s;
	padding: .8rem;
	margin-bottom: 1rem;
	width:50%;
	box-sizing: border-box;
	outline:0;
}

.submit{
	width: 50%;
	background:#CC6666;
	border-radius:5px;
	border:0;
	cursor:pointer;
	color:white;
	font-size:24px;
	padding-top:.6rem;
	padding-bottom:.6rem;
	transition: all 0.3s;
	margin: auto;
	font-weight:700;
  }

  .submit:hover{
	background:#CC4949; 
  }